@model ProblemSolvedVM
<div>
        <h4>Problems</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Summary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProblemCategory.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProblemCategory.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Severity.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Severity.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority.Name)
            </dd>
        </dl>
    </div>
<div>
    <form asp-action="Resolve" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden="hidden" />
        <input asp-for="Summary" hidden="hidden" />
        <input asp-for="Description" hidden="hidden" />
        <input asp-for="SeverityId" hidden="hidden" />
        <input asp-for="PriorityId" hidden="hidden" />
        <input asp-for="ProblemCategoryId" hidden="hidden"/>
        <div class="form-group">
            <label asp-for="isSolved" class="control-label"></label>
            <input asp-for="isSolved" class="form-control" />
            <span asp-validation-for="isSolved" class="text-danger"></span>
        </div>
        <input type="submit" value="Save" />
        <a asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
    </form>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }






